# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#intellij
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea
/.idea/
/aoc-2019/target/classes/2019/day1.txt
/aoc-2023/target/classes/2023/day1.txt
/aoc-2024/target/classes/2024/day1.txt
/aoc-2015/target/classes/day01.txt
/aoc-2017/target/classes/day01.txt
/aoc-2018/target/classes/day01.txt
/aoc-2021/target/classes/day01.txt
/aoc-2022/target/classes/day01.txt
/aoc-2019/target/classes/2019/day2.txt
/aoc-2023/target/classes/2023/day2.txt
/aoc-2024/target/classes/2024/day2.txt
/aoc-2015/target/classes/day02.txt
/aoc-2017/target/classes/day02.txt
/aoc-2018/target/classes/day02.txt
/aoc-2021/target/classes/day02.txt
/aoc-2022/target/classes/day02.txt
/aoc-2019/target/classes/2019/day3.txt
/aoc-2023/target/classes/2023/day3.txt
/aoc-2024/target/classes/2024/day3.txt
/aoc-2015/target/classes/day03.txt
/aoc-2017/target/classes/day03.txt
/aoc-2021/target/classes/day03.txt
/aoc-2022/target/classes/day03.txt
/aoc-2019/target/classes/2019/day4.txt
/aoc-2023/target/classes/2023/day4.txt
/aoc-2024/target/classes/2024/day4.txt
/aoc-2015/target/classes/day04.txt
/aoc-2020/target/classes/day04.txt
/aoc-2021/target/classes/day04.txt
/aoc-2022/target/classes/day04.txt
/aoc-2019/target/classes/2019/day5.txt
/aoc-2023/target/classes/2023/day5.txt
/aoc-2024/target/classes/2024/day5.txt
/aoc-2015/target/classes/day05.txt
/aoc-2020/target/classes/day05.txt
/aoc-2021/target/classes/day05.txt
/aoc-2022/target/classes/day05.txt
/aoc-2019/target/classes/2019/day6.txt
/aoc-2023/target/classes/2023/day6.txt
/aoc-2024/target/classes/2024/day6.txt
/aoc-2015/target/classes/day06.txt
/aoc-2020/target/classes/day06.txt
/aoc-2021/target/classes/day06.txt
/aoc-2022/target/classes/day06.txt
/aoc-2019/target/classes/2019/day7.txt
/aoc-2023/target/classes/2023/day7.txt
/aoc-2024/target/classes/2024/day7.txt
/aoc-2015/target/classes/day07.txt
/aoc-2020/target/classes/day07.txt
/aoc-2021/target/classes/day07.txt
/aoc-2022/target/classes/day07.txt
/aoc-2019/target/classes/2019/day8.txt
/aoc-2023/target/classes/2023/day8.txt
/aoc-2024/target/classes/2024/day8.txt
/aoc-2015/target/classes/day08.txt
/aoc-2020/target/classes/day08.txt
/aoc-2021/target/classes/day08.txt
/aoc-2022/target/classes/day08.txt
/aoc-2019/target/classes/2019/day9.txt
/aoc-2023/target/classes/2023/day9.txt
/aoc-2024/target/classes/2024/day9.txt
/aoc-2015/target/classes/day09.txt
/aoc-2020/target/classes/day09.txt
/aoc-2021/target/classes/day09.txt
/aoc-2022/target/classes/day09.txt
/aoc-2015/target/classes/day10.txt
/aoc-2019/target/classes/2019/day10.txt
/aoc-2020/target/classes/day10.txt
/aoc-2021/target/classes/day10.txt
/aoc-2022/target/classes/day10.txt
/aoc-2023/target/classes/2023/day10.txt
/aoc-2024/target/classes/2024/day10.txt
/aoc-2015/target/classes/day11.txt
/aoc-2019/target/classes/2019/day11.txt
/aoc-2020/target/classes/day11.txt
/aoc-2021/target/classes/day11.txt
/aoc-2022/target/classes/day11.txt
/aoc-2023/target/classes/2023/day11.txt
/aoc-2024/target/classes/2024/day11.txt
/aoc-2015/target/classes/day12.txt
/aoc-2019/target/classes/2019/day12.txt
/aoc-2020/target/classes/day12.txt
/aoc-2021/target/classes/day12.txt
/aoc-2022/target/classes/day12.txt
/aoc-2023/target/classes/2023/day12.txt
/aoc-2024/target/classes/2024/day12.txt
/aoc-2015/target/classes/day13.txt
/aoc-2019/target/classes/2019/day13.txt
/aoc-2020/target/classes/day13.txt
/aoc-2021/target/classes/day13.txt
/aoc-2022/target/classes/day13.txt
/aoc-2023/target/classes/2023/day13.txt
/aoc-2024/target/classes/2024/day13.txt
/aoc-2020/target/classes/day14.txt
/aoc-2021/target/classes/day14.txt
/aoc-2022/target/classes/day14.txt
/aoc-2023/target/classes/2023/day14.txt
/aoc-2024/target/classes/2024/day14.txt
/aoc-2020/target/classes/day15.txt
/aoc-2021/target/classes/day15.txt
/aoc-2022/target/classes/day15.txt
/aoc-2023/target/classes/2023/day15.txt
/aoc-2024/target/classes/2024/day15.txt
/aoc-2020/target/classes/day16.txt
/aoc-2021/target/classes/day16.txt
/aoc-2022/target/classes/day16.txt
/aoc-2023/target/classes/2023/day16.txt
/aoc-2024/target/classes/2024/day16.txt
/aoc-2020/target/classes/day17.txt
/aoc-2021/target/classes/day17.txt
/aoc-2022/target/classes/day17.txt
/aoc-2024/target/classes/2024/day17.txt
/aoc-2020/target/classes/day18.txt
/aoc-2021/target/classes/day18.txt
/aoc-2022/target/classes/day18.txt
/aoc-2024/target/classes/2024/day18.txt
/aoc-2020/target/classes/day19.txt
/aoc-2021/target/classes/day19.txt
/aoc-2022/target/classes/day19.txt
/aoc-2024/target/classes/2024/day19.txt
/aoc-2020/target/classes/day20.txt
/aoc-2021/target/classes/day20.txt
/aoc-2022/target/classes/day20.txt
/aoc-2024/target/classes/2024/day20.txt
/aoc-2020/target/classes/day21.txt
/aoc-2021/target/classes/day21.txt
/aoc-2022/target/classes/day21.txt
/aoc-2024/target/classes/2024/day21.txt
/aoc-2020/target/classes/day22.txt
/aoc-2021/target/classes/day22.txt
/aoc-2022/target/classes/day22.txt
/aoc-2024/target/classes/2024/day22.txt
/aoc-2020/target/classes/day23.txt
/aoc-2021/target/classes/day23.txt
/aoc-2022/target/classes/day23.txt
/aoc-2024/target/classes/2024/day23.txt
/aoc-2020/target/classes/day24.txt
/aoc-2021/target/classes/day24.txt
/aoc-2022/target/classes/day24.txt
/aoc-2024/target/classes/2024/day24.txt
/aoc-2020/target/classes/day25.txt
/aoc-2021/target/classes/day25.txt
/aoc-2022/target/classes/day25.txt
/aoc-2024/target/classes/2024/day25.txt
